.charactermodal {
    position: fixed;
    /* z-index: 500; */
    background-color: lightslategray;
    width: 70%;
    height: 300px;
    border: 1px solid darkmagenta;
    border-radius: 10px;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all .25s;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    overflow-y: auto
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
}


::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.748);
    border-radius: 8px;
}

